NODE_ENV= development
PORT=5001
DATABASE_URL="atlasorlocallink"
BCRYPT_SALT_ROUNDS=anyNumbrt
DEFAULT_PASS=password
JWT_ACCESS_SECRET=fghfdddddddddddghfdhdfhfghhg
JWT_REFRESH_SECRET=hdfghfdhfghfgfghfghfghgfhfghfghfdh
JWT_ACCESS_EXPIRES_IN=10d
JWT_REFRESH_EXPIRES_IN=365d
SUPER_ADMIN_PASSWORD=12345
SUPER_ADMIN_EMAIL=super@gmail.com
RESET_PASS_UI_LINK=http://localhost:3000/auth/confirm-password
EMAIL_APP_PASSWORD="asd asj asaj asjas"
ADMIN_EMAIL_USER=user2gmail.com
AWS_ACCESS_KEY_ID=you will get from AWS
AWS_SECRET_ACCESS_KEY=you will get from AWS
AWS_REGION=select and get from AWS
AWS_BUCKET_NAME=you will get from AWS
ZERO_BOUNCE_KEY=get from zero bounce
ZERO_BOUNCE_APP_NAME=make name and get from zero bounce
MAILBOXLAYERKEY=get from mailbox
MAILBOXLAYERURL=get from mailbox





